<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Problem" data-toc-modified-id="Problem-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Problem</a></span><ul class="toc-item"><li><span><a href="#What-is-a-Backorder?" data-toc-modified-id="What-is-a-Backorder?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>What is a Backorder?</a></span></li><li><span><a href="#Data-description" data-toc-modified-id="Data-description-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data description</a></span></li></ul></li><li><span><a href="#Loading-the-required-libraries" data-toc-modified-id="Loading-the-required-libraries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading the required libraries</a></span></li><li><span><a href="#Identify-Right-Error-Metrics" data-toc-modified-id="Identify-Right-Error-Metrics-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Identify Right Error Metrics</a></span><ul class="toc-item"><li><span><a href="#Confusion-Matrix" data-toc-modified-id="Confusion-Matrix-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Confusion Matrix</a></span></li><li><span><a href="#Function-to-calculate-required-metrics" data-toc-modified-id="Function-to-calculate-required-metrics-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Function to calculate required metrics</a></span></li></ul></li><li><span><a href="#Loading-the-data" data-toc-modified-id="Loading-the-data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Loading the data</a></span></li><li><span><a href="#Understand-the-Data---Exploratory-Data-Analysis-(EDA)" data-toc-modified-id="Understand-the-Data---Exploratory-Data-Analysis-(EDA)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Understand the Data - Exploratory Data Analysis (EDA)</a></span><ul class="toc-item"><li><span><a href="#Number-row-and-columns" data-toc-modified-id="Number-row-and-columns-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Number row and columns</a></span></li><li><span><a href="#First-and-last-5-rows" data-toc-modified-id="First-and-last-5-rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>First and last 5 rows</a></span></li><li><span><a href="#Statistic-summary" data-toc-modified-id="Statistic-summary-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Statistic summary</a></span></li><li><span><a href="#Data-type" data-toc-modified-id="Data-type-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Data type</a></span></li></ul></li><li><span><a href="#Data-pre-processing" data-toc-modified-id="Data-pre-processing-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data pre-processing</a></span><ul class="toc-item"><li><span><a href="#Convert-all-the-attributes-to-appropriate-type" data-toc-modified-id="Convert-all-the-attributes-to-appropriate-type-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Convert all the attributes to appropriate type</a></span><ul class="toc-item"><li><span><a href="#Re-display-data-type-of-each-variable" data-toc-modified-id="Re-display-data-type-of-each-variable-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Re-display data type of each variable</a></span></li><li><span><a href="#Statistic-summary" data-toc-modified-id="Statistic-summary-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Statistic summary</a></span></li></ul></li><li><span><a href="#Delete-sku-attribute" data-toc-modified-id="Delete-sku-attribute-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Delete sku attribute</a></span></li><li><span><a href="#Missing-Data" data-toc-modified-id="Missing-Data-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Missing Data</a></span></li><li><span><a href="#Train-and-test-split" data-toc-modified-id="Train-and-test-split-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Train and test split</a></span><ul class="toc-item"><li><span><a href="#Target-attribute-distribution" data-toc-modified-id="Target-attribute-distribution-6.4.1"><span class="toc-item-num">6.4.1&nbsp;&nbsp;</span>Target attribute distribution</a></span></li><li><span><a href="#Split-the-data-into-train-and-test" data-toc-modified-id="Split-the-data-into-train-and-test-6.4.2"><span class="toc-item-num">6.4.2&nbsp;&nbsp;</span>Split the data into train and test</a></span></li><li><span><a href="#Target-attribute-distribution-after-the-split" data-toc-modified-id="Target-attribute-distribution-after-the-split-6.4.3"><span class="toc-item-num">6.4.3&nbsp;&nbsp;</span>Target attribute distribution after the split</a></span></li></ul></li><li><span><a href="#Convert-categorical-target-attribute-to-numeric" data-toc-modified-id="Convert-categorical-target-attribute-to-numeric-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Convert categorical target attribute to numeric</a></span><ul class="toc-item"><li><span><a href="#Target-attribute-distribution" data-toc-modified-id="Target-attribute-distribution-6.5.1"><span class="toc-item-num">6.5.1&nbsp;&nbsp;</span>Target attribute distribution</a></span></li></ul></li><li><span><a href="#Checking-the-data-types" data-toc-modified-id="Checking-the-data-types-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Checking the data types</a></span></li><li><span><a href="#Standardize-the-numerical-attributes" data-toc-modified-id="Standardize-the-numerical-attributes-6.7"><span class="toc-item-num">6.7&nbsp;&nbsp;</span>Standardize the numerical attributes</a></span><ul class="toc-item"><li><span><a href="#Store-numerical-attributes-name" data-toc-modified-id="Store-numerical-attributes-name-6.7.1"><span class="toc-item-num">6.7.1&nbsp;&nbsp;</span>Store numerical attributes name</a></span></li><li><span><a href="#Using-StandardScaler,-standardize-the-numerical-attributes" data-toc-modified-id="Using-StandardScaler,-standardize-the-numerical-attributes-6.7.2"><span class="toc-item-num">6.7.2&nbsp;&nbsp;</span>Using StandardScaler, standardize the numerical attributes</a></span></li></ul></li><li><span><a href="#Converting-Categorical-attributes-to-Numeric-attributes" data-toc-modified-id="Converting-Categorical-attributes-to-Numeric-attributes-6.8"><span class="toc-item-num">6.8&nbsp;&nbsp;</span>Converting Categorical attributes to Numeric attributes</a></span><ul class="toc-item"><li><span><a href="#Store-categorical-attributes-name" data-toc-modified-id="Store-categorical-attributes-name-6.8.1"><span class="toc-item-num">6.8.1&nbsp;&nbsp;</span>Store categorical attributes name</a></span></li><li><span><a href="#Using-OneHotEncoder,--converting-Categorical-attributes-to-Numeric-attributes" data-toc-modified-id="Using-OneHotEncoder,--converting-Categorical-attributes-to-Numeric-attributes-6.8.2"><span class="toc-item-num">6.8.2&nbsp;&nbsp;</span>Using OneHotEncoder,  converting Categorical attributes to Numeric attributes</a></span></li></ul></li><li><span><a href="#Concatenate-attribute" data-toc-modified-id="Concatenate-attribute-6.9"><span class="toc-item-num">6.9&nbsp;&nbsp;</span>Concatenate attribute</a></span></li></ul></li><li><span><a href="#Model-building" data-toc-modified-id="Model-building-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Model building</a></span><ul class="toc-item"><li><span><a href="#RandomForestClassifier-Model" data-toc-modified-id="RandomForestClassifier-Model-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>RandomForestClassifier Model</a></span><ul class="toc-item"><li><span><a href="#Instantiate-Model" data-toc-modified-id="Instantiate-Model-7.1.1"><span class="toc-item-num">7.1.1&nbsp;&nbsp;</span>Instantiate Model</a></span></li><li><span><a href="#Train-Model" data-toc-modified-id="Train-Model-7.1.2"><span class="toc-item-num">7.1.2&nbsp;&nbsp;</span>Train Model</a></span></li><li><span><a href="#List-important-features" data-toc-modified-id="List-important-features-7.1.3"><span class="toc-item-num">7.1.3&nbsp;&nbsp;</span>List important features</a></span></li><li><span><a href="#Predict" data-toc-modified-id="Predict-7.1.4"><span class="toc-item-num">7.1.4&nbsp;&nbsp;</span>Predict</a></span></li><li><span><a href="#Evaluate" data-toc-modified-id="Evaluate-7.1.5"><span class="toc-item-num">7.1.5&nbsp;&nbsp;</span>Evaluate</a></span></li></ul></li><li><span><a href="#Up-sampling" data-toc-modified-id="Up-sampling-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Up-sampling</a></span><ul class="toc-item"><li><span><a href="#Instantiate-SMOTE" data-toc-modified-id="Instantiate-SMOTE-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Instantiate SMOTE</a></span></li><li><span><a href="#Fit-Sample" data-toc-modified-id="Fit-Sample-7.2.2"><span class="toc-item-num">7.2.2&nbsp;&nbsp;</span>Fit Sample</a></span></li></ul></li><li><span><a href="#RandomForestClassifier-with-up-sample-data" data-toc-modified-id="RandomForestClassifier-with-up-sample-data-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>RandomForestClassifier with up-sample data</a></span><ul class="toc-item"><li><span><a href="#Instantiate-Model" data-toc-modified-id="Instantiate-Model-7.3.1"><span class="toc-item-num">7.3.1&nbsp;&nbsp;</span>Instantiate Model</a></span></li><li><span><a href="#Train-the-model" data-toc-modified-id="Train-the-model-7.3.2"><span class="toc-item-num">7.3.2&nbsp;&nbsp;</span>Train the model</a></span></li><li><span><a href="#List-important-features" data-toc-modified-id="List-important-features-7.3.3"><span class="toc-item-num">7.3.3&nbsp;&nbsp;</span>List important features</a></span></li><li><span><a href="#Predict" data-toc-modified-id="Predict-7.3.4"><span class="toc-item-num">7.3.4&nbsp;&nbsp;</span>Predict</a></span></li><li><span><a href="#Evaluate" data-toc-modified-id="Evaluate-7.3.5"><span class="toc-item-num">7.3.5&nbsp;&nbsp;</span>Evaluate</a></span></li></ul></li><li><span><a href="#Hyper-parameter-tuning-using-Grid-Search-and-Cross-Validation" data-toc-modified-id="Hyper-parameter-tuning-using-Grid-Search-and-Cross-Validation-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Hyper-parameter tuning using Grid Search and Cross Validation</a></span><ul class="toc-item"><li><span><a href="#Parameters-to-test" data-toc-modified-id="Parameters-to-test-7.4.1"><span class="toc-item-num">7.4.1&nbsp;&nbsp;</span>Parameters to test</a></span></li><li><span><a href="#Instantiate-Decision-Tree" data-toc-modified-id="Instantiate-Decision-Tree-7.4.2"><span class="toc-item-num">7.4.2&nbsp;&nbsp;</span>Instantiate Decision Tree</a></span></li><li><span><a href="#Instantiate-GridSearchCV" data-toc-modified-id="Instantiate-GridSearchCV-7.4.3"><span class="toc-item-num">7.4.3&nbsp;&nbsp;</span>Instantiate GridSearchCV</a></span></li><li><span><a href="#Train-DT-using-GridSearchCV" data-toc-modified-id="Train-DT-using-GridSearchCV-7.4.4"><span class="toc-item-num">7.4.4&nbsp;&nbsp;</span>Train DT using GridSearchCV</a></span></li><li><span><a href="#Best-Params" data-toc-modified-id="Best-Params-7.4.5"><span class="toc-item-num">7.4.5&nbsp;&nbsp;</span>Best Params</a></span></li><li><span><a href="#Predict" data-toc-modified-id="Predict-7.4.6"><span class="toc-item-num">7.4.6&nbsp;&nbsp;</span>Predict</a></span></li><li><span><a href="#Evaluate" data-toc-modified-id="Evaluate-7.4.7"><span class="toc-item-num">7.4.7&nbsp;&nbsp;</span>Evaluate</a></span></li></ul></li><li><span><a href="#Building-RandomForestClassifier-Model-using-Variable-Importance" data-toc-modified-id="Building-RandomForestClassifier-Model-using-Variable-Importance-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>Building RandomForestClassifier Model using Variable Importance</a></span><ul class="toc-item"><li><span><a href="#Instantiate-Model" data-toc-modified-id="Instantiate-Model-7.5.1"><span class="toc-item-num">7.5.1&nbsp;&nbsp;</span>Instantiate Model</a></span></li><li><span><a href="#Train-the-model" data-toc-modified-id="Train-the-model-7.5.2"><span class="toc-item-num">7.5.2&nbsp;&nbsp;</span>Train the model</a></span></li><li><span><a href="#Predict" data-toc-modified-id="Predict-7.5.3"><span class="toc-item-num">7.5.3&nbsp;&nbsp;</span>Predict</a></span></li><li><span><a href="#Evaluate" data-toc-modified-id="Evaluate-7.5.4"><span class="toc-item-num">7.5.4&nbsp;&nbsp;</span>Evaluate</a></span></li></ul></li></ul></li></ul></div>

# Problem

Is to identify products at risk of backorder before the event occurs so that business has time to react.

## What is a Backorder?
Backorders are products that are temporarily out of stock, but a customer is permitted to place an order against future inventory. 
A backorder generally indicates that customer demand for a product or service exceeds a company’s capacity to supply it. Back orders are both good and bad. Strong demand can drive back orders, but so can suboptimal planning.

## Data description

Data file contains the historical data for the 8 weeks prior to the week we are trying to predict. The data was taken as weekly snapshots at the start of each week. Columns are defined as follows:

    sku - Random ID for the product

    national_inv - Current inventory level for the part

    lead_time - Transit time for product (if available)

    in_transit_qty - Amount of product in transit from source

    forecast_3_month - Forecast sales for the next 3 months

    forecast_6_month - Forecast sales for the next 6 months

    forecast_9_month - Forecast sales for the next 9 months

    sales_1_month - Sales quantity for the prior 1 month time period

    sales_3_month - Sales quantity for the prior 3 month time period

    sales_6_month - Sales quantity for the prior 6 month time period

    sales_9_month - Sales quantity for the prior 9 month time period

    min_bank - Minimum recommend amount to stock

    potential_issue - Source issue for part identified

    pieces_past_due - Parts overdue from source

    perf_6_month_avg - Source performance for prior 6 month period

    perf_12_month_avg - Source performance for prior 12 month period

    local_bo_qty - Amount of stock orders overdue

    deck_risk - Part risk flag

    oe_constraint - Part risk flag

    ppap_risk - Part risk flag

    stop_auto_buy - Part risk flag

    rev_stop - Part risk flag

    went_on_backorder - Product actually went on backorder. This is the target value.
    
         Yes or 1 : Product backordered

         No or 0  : Product not backordered

# Loading the required libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

from sklearn.ensemble import RandomForestClassifier

from imblearn.over_sampling import SMOTE

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, roc_curve, auc

import matplotlib.pyplot as plt

# Identify Right Error Metrics

    Based on the business have to identify the right error metrics.

## Confusion Matrix

![](img/Confusion_Matrix.png)

## Function to calculate required metrics

In [2]:
def evaluate_model(act, pred):
    print("Confusion Matrix \n", confusion_matrix(act, pred))
    print("Accurcay : ", accuracy_score(act, pred))
    print("Recall   : ", recall_score(act, pred))
    print("Precision: ", precision_score(act, pred))

# Loading the data

In [3]:
data = pd.read_csv("BackOrders.csv", header=0)

# Understand the Data - Exploratory Data Analysis (EDA)

## Number row and columns

(61589, 23)

## First and last 5 rows

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1888279,117,NaN,0,0,0,0,0,0,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,1870557,7,2.0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,1475481,258,15.0,10,10,77,184,46,132,256,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,1758220,46,2.0,0,0,0,0,1,2,6,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,1360312,2,2.0,0,4,6,10,2,2,5,...,0,0.97,0.92,0,No,No,No,Yes,No,No

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
61584,1397275,6,8.0,0,24,24,24,0,7,9,...,0,0.98,0.98,0,No,No,No,Yes,No,No
61585,3072139,130,2.0,0,40,80,140,18,108,230,...,0,0.51,0.28,0,No,No,No,Yes,No,No
61586,1909363,135,9.0,0,0,0,0,10,40,65,...,0,1.00,0.99,0,No,No,Yes,Yes,No,No
61587,1845783,63,NaN,0,0,0,0,452,1715,3425,...,0,-99.00,-99.00,1,No,No,No,No,No,Yes
61588,1200539,0,2.0,0,8,8,8,0,1,1,...,0,0.79,0.78,0,Yes,No,No,Yes,No,Yes

## Statistic summary 
    Using describe function

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
count,6.158900e+04,61589.000000,58186.000000,61589.000000,6.158900e+04,6.158900e+04,6.158900e+04,61589.000000,61589.000000,6.158900e+04,...,61589.000000,61589.000000,61589.000000,61589.000000,61589,61589,61589,61589,61589,61589
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,2,2,2,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,No,No,Yes,No,No
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,48145,61577,53792,59303,61569,50296
mean,2.037188e+06,287.721882,7.559619,30.192843,1.692728e+02,3.150413e+02,4.535760e+02,44.742957,150.732631,2.835465e+02,...,1.605400,-6.264182,-5.863664,1.205361,NaN,NaN,NaN,NaN,NaN,NaN
std,6.564178e+05,4233.906931,6.498952,792.869253,5.286742e+03,9.774362e+03,1.420201e+04,1373.805831,5224.959649,8.872270e+03,...,42.309229,25.537906,24.844514,29.981155,NaN,NaN,NaN,NaN,NaN,NaN
min,1.068628e+06,-2999.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,-99.000000,-99.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.498574e+06,3.000000,4.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,0.620000,0.640000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.898033e+06,10.000000,8.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2.000000,4.000000e+00,...,0.000000,0.820000,0.800000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.314826e+06,57.000000,8.000000,0.000000,1.200000e+01,2.500000e+01,3.600000e+01,6.000000,17.000000,3.400000e+01,...,0.000000,0.960000,0.950000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,3.284895e+06,673445.000000,52.000000,170976.000000,1.126656e+06,2.094336e+06,3.062016e+06,295197.000000,934593.000000,1.799099e+06,...,7392.000000,1.000000,1.000000,2999.000000,NaN,NaN,NaN,NaN,NaN,NaN

## Data type

sku                    int64
national_inv           int64
lead_time            float64
in_transit_qty         int64
forecast_3_month       int64
forecast_6_month       int64
forecast_9_month       int64
sales_1_month          int64
sales_3_month          int64
sales_6_month          int64
sales_9_month          int64
min_bank               int64
potential_issue       object
pieces_past_due        int64
perf_6_month_avg     float64
perf_12_month_avg    float64
local_bo_qty           int64
deck_risk             object
oe_constraint         object
ppap_risk             object
stop_auto_buy         object
rev_stop              object
went_on_backorder     object
dtype: object

__Observations__

* sku is `categorical` but is interpreted as `int64` 
* potential_issue, deck_risk, oe_constraint, ppap_risk, stop_auto_buy, rev_stop, and went_on_backorder are also `categorical` but is interpreted as `object`.

# Data pre-processing

## Convert all the attributes to appropriate type

Data type conversion

    Using astype('category') to convert potential_issue, deck_risk, oe_constraint, ppap_risk, stop_auto_buy, rev_stop, and went_on_backorder attributes to categorical attributes.

### Re-display data type of each variable

sku                  category
national_inv            int64
lead_time             float64
in_transit_qty          int64
forecast_3_month        int64
forecast_6_month        int64
forecast_9_month        int64
sales_1_month           int64
sales_3_month           int64
sales_6_month           int64
sales_9_month           int64
min_bank                int64
potential_issue      category
pieces_past_due         int64
perf_6_month_avg      float64
perf_12_month_avg     float64
local_bo_qty            int64
deck_risk            category
oe_constraint        category
ppap_risk            category
stop_auto_buy        category
rev_stop             category
went_on_backorder    category
dtype: object

### Statistic summary 
    Using describe function

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
count,61589.0,61589.000000,58186.000000,61589.000000,6.158900e+04,6.158900e+04,6.158900e+04,61589.000000,61589.000000,6.158900e+04,...,61589.000000,61589.000000,61589.000000,61589.000000,61589,61589,61589,61589,61589,61589
unique,61589.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,2,2,2,2,2
top,3284895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,No,No,Yes,No,No
freq,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,48145,61577,53792,59303,61569,50296
mean,NaN,287.721882,7.559619,30.192843,1.692728e+02,3.150413e+02,4.535760e+02,44.742957,150.732631,2.835465e+02,...,1.605400,-6.264182,-5.863664,1.205361,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,4233.906931,6.498952,792.869253,5.286742e+03,9.774362e+03,1.420201e+04,1373.805831,5224.959649,8.872270e+03,...,42.309229,25.537906,24.844514,29.981155,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,-2999.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,-99.000000,-99.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,3.000000,4.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,0.620000,0.640000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,10.000000,8.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2.000000,4.000000e+00,...,0.000000,0.820000,0.800000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,57.000000,8.000000,0.000000,1.200000e+01,2.500000e+01,3.600000e+01,6.000000,17.000000,3.400000e+01,...,0.000000,0.960000,0.950000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,673445.000000,52.000000,170976.000000,1.126656e+06,2.094336e+06,3.062016e+06,295197.000000,934593.000000,1.799099e+06,...,7392.000000,1.000000,1.000000,2999.000000,NaN,NaN,NaN,NaN,NaN,NaN

## Delete sku attribute

61589

## Missing Data

    Missing value analysis and dropping the records with missing values

national_inv            0
lead_time            3403
in_transit_qty          0
forecast_3_month        0
forecast_6_month        0
forecast_9_month        0
sales_1_month           0
sales_3_month           0
sales_6_month           0
sales_9_month           0
min_bank                0
potential_issue         0
pieces_past_due         0
perf_6_month_avg        0
perf_12_month_avg       0
local_bo_qty            0
deck_risk               0
oe_constraint           0
ppap_risk               0
stop_auto_buy           0
rev_stop                0
went_on_backorder       0
dtype: int64

Observing the number of records before and after missing value records removal

(61589, 22)

Since the number of missing values is about 5% and as we have around 61K records. For initial analysis we ignore all these records

national_inv         0
lead_time            0
in_transit_qty       0
forecast_3_month     0
forecast_6_month     0
forecast_9_month     0
sales_1_month        0
sales_3_month        0
sales_6_month        0
sales_9_month        0
min_bank             0
potential_issue      0
pieces_past_due      0
perf_6_month_avg     0
perf_12_month_avg    0
local_bo_qty         0
deck_risk            0
oe_constraint        0
ppap_risk            0
stop_auto_buy        0
rev_stop             0
went_on_backorder    0
dtype: int64
(58186, 22)

## Train and test split

### Target attribute distribution

No     47217
Yes    10969
Name: went_on_backorder, dtype: int64

No     81.148386
Yes    18.851614
Name: went_on_backorder, dtype: float64

### Split the data into train and test
sklearn.model_selection.train_test_split

    Split arrays or matrices into random train and test subsets

### Target attribute distribution after the split

No     81.185858
Yes    18.814142
Name: went_on_backorder, dtype: float64
No     81.060953
Yes    18.939047
Name: went_on_backorder, dtype: float64

## Convert categorical target attribute to numeric

Using `LabelEncoder` convert categorical target attribute __went_on_backorder__ to numeric

### Target attribute distribution

40730

## Checking the data types

national_inv            int64
lead_time             float64
in_transit_qty          int64
forecast_3_month        int64
forecast_6_month        int64
forecast_9_month        int64
sales_1_month           int64
sales_3_month           int64
sales_6_month           int64
sales_9_month           int64
min_bank                int64
potential_issue      category
pieces_past_due         int64
perf_6_month_avg      float64
perf_12_month_avg     float64
local_bo_qty            int64
deck_risk            category
oe_constraint        category
ppap_risk            category
stop_auto_buy        category
rev_stop             category
dtype: object

## Standardize the numerical attributes

__Note__: For Decision Tree and Random Forest Numeric attributes need not be standardized.

### Store numerical attributes name

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'pieces_past_due', 'perf_6_month_avg', 'perf_12_month_avg',
       'local_bo_qty'],
      dtype='object')

### Using StandardScaler, standardize the numerical attributes

StandardScaler()

(40730, 15)
(17456, 15)

## Converting Categorical attributes to Numeric attributes

### Store categorical attributes name

Index(['potential_issue', 'deck_risk', 'oe_constraint', 'ppap_risk',
       'stop_auto_buy', 'rev_stop'],
      dtype='object')

### Using OneHotEncoder,  converting Categorical attributes to Numeric attributes

OneHotEncoder(drop='first')

## Concatenate attribute
Standardised numeric attributes and One hot encoded categorical attributes

(40730, 21)

# Model building

## RandomForestClassifier Model

### Instantiate Model

In [37]:
clf1 = RandomForestClassifier()

### Train Model

In [38]:
clf1.fit(X_train_con, y_train)

RandomForestClassifier()

### List important features

In [39]:
importances = clf1.feature_importances_
print(importances)

indices = np.argsort(importances)[::-1]
print(indices)

[2.36380452e-01 3.14186428e-02 4.13113857e-02 1.02344387e-01
 8.21643506e-02 8.48487415e-02 4.35289513e-02 5.14209762e-02
 5.10667020e-02 5.89271276e-02 3.74437899e-02 1.10686279e-02
 6.18321470e-02 6.54049631e-02 1.98836202e-02 3.21939891e-04
 9.39468457e-03 5.48589068e-05 8.51575578e-03 2.66389727e-03
 3.99905289e-06]
[ 0  3  5  4 13 12  9  7  8  6  2 10  1 14 11 16 18 19 15 17 20]

In [40]:
ind_attr_names = np.concatenate((num_attr, cat_attr), axis=0)

pd.DataFrame([ind_attr_names[indices], np.sort(importances)[::-1]])

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,national_inv,forecast_3_month,forecast_9_month,forecast_6_month,perf_12_month_avg,perf_6_month_avg,sales_9_month,sales_3_month,sales_6_month,sales_1_month,...,min_bank,lead_time,local_bo_qty,pieces_past_due,deck_risk,ppap_risk,stop_auto_buy,potential_issue,oe_constraint,rev_stop
1,0.23638,0.102344,0.0848487,0.0821644,0.065405,0.0618321,0.0589271,0.051421,0.0510667,0.043529,...,0.0374438,0.0314186,0.0198836,0.0110686,0.00939468,0.00851576,0.0026639,0.00032194,5.48589e-05,3.99905e-06

### Predict

In [41]:
train_pred = clf1.predict(X_train_con)
test_pred = clf1.predict(X_test_con)

### Evaluate

In [42]:
print("--Train--")
evaluate_model(y_train, train_pred)
print("--Test--")
evaluate_model(y_test, test_pred)

--Train--
Confusion Matrix
 [[33032    35]
 [   54  7609]]
Accurcay :  0.9978148784679597
Recall   :  0.9929531515072426
Precision:  0.9954212454212454
--Test--
Confusion Matrix
 [[13599   551]
 [  611  2695]]
Accurcay :  0.9334326306141155
Recall   :  0.8151845130066546
Precision:  0.830252618607517

## Up-sampling 

    Using SMOTE (Synthetic Minority Over-sampling Technique)
    
 <img src="smote.png">

### Instantiate SMOTE

In [43]:
smote = SMOTE(random_state=123)

### Fit Sample

In [44]:
X_train_sm, y_train_sm = smote.fit_sample(X_train_con, y_train)

In [45]:
np.unique(y_train, return_counts= True)

(array([0, 1]), array([33067,  7663]))

In [46]:
np.unique(y_train_sm, return_counts= True)

(array([0, 1]), array([33067, 33067]))

## RandomForestClassifier with up-sample data

### Instantiate Model

In [47]:
clf2 = RandomForestClassifier()

### Train the model

In [48]:
clf2.fit(X_train_sm, y_train_sm)

RandomForestClassifier()

### List important features

In [49]:
importances = clf2.feature_importances_
print(importances)

indices = np.argsort(importances)[::-1]
print(indices)

[2.00051054e-01 2.74782573e-02 4.05724751e-02 1.48988878e-01
 1.39606399e-01 9.18941334e-02 5.10380216e-02 5.20720944e-02
 4.66338538e-02 4.25727342e-02 2.90993667e-02 7.07849481e-03
 4.38150456e-02 4.51349242e-02 1.93448657e-02 1.68421059e-04
 6.20127638e-03 3.76598245e-05 6.02243746e-03 2.18056239e-03
 9.04507508e-06]
[ 0  3  4  5  7  6  8 13 12  9  2 10  1 14 11 16 18 19 15 17 20]

In [50]:
pd.DataFrame([ind_attr_names[indices], np.sort(importances)[::-1]])

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,national_inv,forecast_3_month,forecast_6_month,forecast_9_month,sales_3_month,sales_1_month,sales_6_month,perf_12_month_avg,perf_6_month_avg,sales_9_month,...,min_bank,lead_time,local_bo_qty,pieces_past_due,deck_risk,ppap_risk,stop_auto_buy,potential_issue,oe_constraint,rev_stop
1,0.200051,0.148989,0.139606,0.0918941,0.0520721,0.051038,0.0466339,0.0451349,0.043815,0.0425727,...,0.0290994,0.0274783,0.0193449,0.00707849,0.00620128,0.00602244,0.00218056,0.000168421,3.76598e-05,9.04508e-06

### Predict

In [51]:
train_pred = clf2.predict(X_train_sm)
test_pred = clf2.predict(X_test_con)

### Evaluate

In [52]:
print("--Train--")
evaluate_model(y_train_sm, train_pred)
print("--Test--")
evaluate_model(y_test, test_pred)

--Train--
Confusion Matrix
 [[33006    61]
 [   47 33020]]
Accurcay :  0.998366951946049
Recall   :  0.99857864336045
Precision:  0.9981560412321272
--Test--
Confusion Matrix
 [[13311   839]
 [  401  2905]]
Accurcay :  0.9289642529789184
Recall   :  0.8787053841500303
Precision:  0.7759081196581197

## Hyper-parameter tuning using Grid Search and Cross Validation

### Parameters to test

In [59]:
param_grid = {"n_estimators" : [50, 100],
              "max_depth" : [1,5],
              "max_features" : [3, 5],
              "min_samples_leaf" : [1, 2, 4]}

### Instantiate Decision Tree

In [60]:
clf3 = RandomForestClassifier()

### Instantiate GridSearchCV

In [61]:
clf_grid = GridSearchCV(clf2, param_grid, cv=2)

### Train DT using GridSearchCV

In [62]:
clf_grid.fit(X_train_sm, y_train_sm)

GridSearchCV(cv=2, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [1, 5], 'max_features': [3, 5],
                         'min_samples_leaf': [1, 2, 4],
                         'n_estimators': [50, 100]})

### Best Params

In [63]:
clf_grid.best_params_

{'max_depth': 5, 'max_features': 5, 'min_samples_leaf': 1, 'n_estimators': 100}

### Predict

In [64]:
train_pred = clf_grid.predict(X_train_sm)
test_pred = clf_grid.predict(X_test_con)

### Evaluate

In [65]:
print("--Train--")
evaluate_model(y_train_sm, train_pred)
print("--Test--")
evaluate_model(y_test, test_pred)

--Train--
Confusion Matrix
 [[27710  5357]
 [ 3202 29865]]
Accurcay :  0.8705809417243778
Recall   :  0.9031662987268273
Precision:  0.8479075577763897
--Test--
Confusion Matrix
 [[11813  2337]
 [  483  2823]]
Accurcay :  0.8384509624197983
Recall   :  0.8539019963702359
Precision:  0.547093023255814

## Building RandomForestClassifier Model using Variable Importance

In [66]:
importances = clf_grid.best_estimator_.feature_importances_
indices = np.argsort(importances)[::-1]
print(indices)

select = indices[0:5]
print(select)

[ 3  0  4  5  2  7  6  8 14  9 10  1 12 13 11 18 16 19 15 20 17]
[3 0 4 5 2]

### Instantiate Model

In [67]:
clf4 = RandomForestClassifier(max_depth=5, max_features=5,
                              min_samples_leaf=2, n_estimators=100)

### Train the model

In [68]:
clf4.fit(X_train_sm[:,select], y_train_sm)

RandomForestClassifier(max_depth=5, max_features=5, min_samples_leaf=2)

### Predict

In [69]:
train_pred = clf4.predict(X_train_sm[:,select])
test_pred = clf4.predict(X_test_con[:,select])

### Evaluate

In [70]:
print("--Train--")
evaluate_model(y_train_sm, train_pred)
print("--Test--")
evaluate_model(y_test, test_pred)

--Train--
Confusion Matrix
 [[28145  4922]
 [ 3725 29342]]
Accurcay :  0.8692503099767139
Recall   :  0.887349925908005
Precision:  0.856350688769554
--Test--
Confusion Matrix
 [[11987  2163]
 [  552  2754]]
Accurcay :  0.8444660861594867
Recall   :  0.8330308529945554
Precision:  0.5600976205003051